version: '1.0'
services:
  db:
      image: "postgres"
      container_name: dadbank_db
      restart: unless-stopped
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - initdb:/docker-entrypoint-initdb.d
      environment:
        - POSTGRES_PASSWORD="${POSTGRES_PASSWORD}"
        - POSTGRES_USER="${POSTGRES_USER}"
        - POSTGRES_DB="${POSTGRES_DB}"
  app:
    image: "geos74/dad-bank:1.0.0"
    container_name: dadbank_app
    restart: unless-stopped
    depends_on:
      - db  # Ждём запуска БД
    volumes:
      - initdb:/dadbank/libs/
    environment:
      - BOT_TOKEN="${BOT_TOKEN}"
      - DB_USER="${POSTGRES_USER}"
      - DB_HOST=db
      - DB_NAME="${POSTGRES_DB}"
      - DB_PASS="${POSTGRES_PASSWORD}"
  volumes:
    initdb:
    postgres_data:
